MONGO_URI=mongodb+srv://andresgarcia:230506122823gp@cluster0.1io3tnc.mongodb.net/?appName=Cluster0

JWT_SECRET=mi_clave_secreta_super_segura_jwt_2024_coderhouse
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

PORT=8080
NODE_ENV=development